{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ appName }} {{ 'App Config' | trans }}</h5>
        {%- endblock %}

        {% block widget_content %}
            <div class="row">
                <p class="config-container">
                    <iframe name="frame" id="frame" src="{{ frameSourceUrl }}" allowtransparency="true" frameborder="0"></iframe>
                </p>
            </div>
        {%- endblock %}
    {% endembed %}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-application-catalog-main.css') }}" />
{% endblock %}
