{% for number in 1..5 %}
    {% if number <= rating %}
        <span class="fa fa-star checked" style="color: yellow;"></span>
    {% else %}
        <span class="fa fa-star-o"></span>
    {% endif %}
{%- endfor -%}

